/* 
File Name: Contact.css
Student's Name: Pak Yin Wong
Student ID: 301359647
Date: 24-Sep-2024
*/
.contact {
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panel {
  overflow: hidden;
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background: rgb(60,60,60);
  border: none;
  border-radius: 0.5rem;
  padding-top: 10px;
}

.panel>p {
  font-size: medium;;
  font-weight: 250;
}


.form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name, .email, .msg, .phone {
  font-size: medium;
  width: 100%;
  max-width: 30rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(60,60,60);
}

.submission {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: none;
  width:5rem;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  color: black;
}

